<section>
  <div class="container">
    <form class="form-entity" name="form" ng-submit="submitForm()">
      <legend>{{action}} task-group form</legend>
        <input type="title" class="form-control" placeholder="Title" required autofocus ng-model="taskGroup.title">
        <label class="checkbox" >
          <input type="checkbox" ng-model="taskGroup.status"> Active
        </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">{{action}} group</button>
    </form>
  </div>
  <section>
