<section>

  <div class="container">
    <form class="form-signin" role="form" ng-submit="login()">

      <h2 class="form-signin-heading">Please login</h2>
      <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="user.email">
      <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <a ui-sref="sign-up" ui-sref-active="active">or Create account</a></li>
    </form>

  </div>

<section>
