<section>

      <div class="container">

        <form class="form-signin" role="form">
          <h2 class="form-signin-heading">Please login</h2>
          <input type="email" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" class="form-control" placeholder="Password" required>
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <a href="#"> or Create account</a></li>
        </form>

      </div>

<!--
  <form name="form" ng-submit="login()">
<fieldset>

<legend>Login form</legend>

      <div class="form-group">
        <label>Email</label>
        <input type="text" ng-model="user.email">
        <p class="hint" ng-show="form.email.$error.required && submitted">Email is
            required</p>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="user.password">
        <p class="hint" ng-show="form.password.$error.required && submitted">
            Password is required</p>
      </div>

      <div class="actions">
        <label></label>
        <button>Login</button>
      </div>
    </fieldset>
  </form>-->
<section>
