<section>
  <form class="form-signin" role="form" ng-submit="register()">
      <input type="firstName" class="form-control" placeholder="First name" required autofocus ng-model="user.firstname">
      <input type="lastName" class="form-control" placeholder="Last name" required ng-model="user.lastname">
      <input type="email" class="form-control" placeholder="Email address" required ng-model="user.email">
      <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
</section>
